
.square {
	width: 150px;
	height: 150px;
	background: red;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.first {
	border: 1px dashed red;
	width: 900px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
